{% extends "base.html" %}
{% block title %}{% if mode == "edit" %}Edit Job{% else %}Post Job{% endif %}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="mb-3">{% if mode == "edit" %}Edit Job{% else %}Post a New Job{% endif %}</h4>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-success">Save</button>
          <a class="btn btn-outline-secondary" href="{% url 'employer_manage' %}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
